<mat-card>
<div class="explore">

Choose the level of exploration: <br>
Easy (levels 1-10): <br>
<a mat-button [routerLink]="['/explore', 1]">Level One</a> <br>
<a mat-button [routerLink]="['/explore', 2]">Level Two</a> <br>
<a mat-button [routerLink]="['/explore', 3]">Level Three</a> <br>

Normal (level 10+): <br>
<a mat-button [routerLink]="['/explore', 4]">Level Four</a> <br>
<a mat-button [routerLink]="['/explore', 5]">Level Five</a> <br>
<a mat-button [routerLink]="['/explore', 6]">Level Six</a> <br>
</div>
</mat-card>
